*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3rem;
    margin-top:2rem;
}
body{
    background-color: #548587;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.2rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
.restart{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
.msg{
    padding: 1rem;
    color: #ffffc7;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}